<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Monsterrat Font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--stylesheet main css-->
    <link rel="stylesheet" href="static/main.css">

    <!--Website Logo-->
    <link rel="icon" href="static/camera design.png" type="image/png">
    <title>A Tool to Support Blind People in Detecting Objects and Obstacles via Voice Notification </title>

</head>
<body>
<div class="container my-xl-5">
    <div class="row">
        <div class="col-sm-8 col-xs-12 pull-left">
            <h1 class="mt-5 font-weight-bold">A TOOL TO SUPPORT BLIND PEOPLE  <br> IN DETECTING OBJECTS AND<br>OBSTACLES VIA <span class="text-warning">VOICE NOTIFICATION</h1></span>
            <h3 class="mt-5">Aim of this project</h3>
                <p class="text-monospace lead">This project aims to help visually impaired people in having a more private and convenient life by providing them their own 
                    eyes with the use of object Detection with voice feedback.</p>
            <div class="content-entry">
                <a href="https://github.com/yngjoel/object-detection-tool-tts-fyp" class="btn d-inline-flex align-items-center justify-content-center align-self-center">
                    <span><img src="static/icon.svg" class="img-fluid icon-cam" alt="camera-img"></span>
                </a>
                <a href="obj" class="btn d-inline-flex align-items-center justify-content-center align-self-center">
                    <span><img src="static/camera.svg" class="img-fluid icon-cam" alt="camera-img"></span>
                </a>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12 pull-right">
                <img src="static/camera design.png" srcset="png's/camera design.png 600w" class="img-fluid cam-des" alt="camera" sizes="max-width: 600px;">
        </div>
    </div>
</div>

<!--Js Script-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </div>
</div>
</body>
</html>
